<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>             <string>yaccai.model</string>
    <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/zsh</string>
            <string>/Users/yaccai/iconfig/launch/route/model.sh</string>
        </array>
    <key>WorkingDirectory</key>  <string>/Users/yaccai/iconfig/launch/rmodel</string>
    <key>StandardErrorPath</key> <string>model.log</string>
    <key>StandardOutPath</key>   <string>model.log</string>
    <key>StartInterval</key>     <integer>7200</integer>
</dict>
</plist>
