<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>             <string>yaccai.backup</string>
	<key>Program</key>           <string>/Users/yaccai/iconfig/launch/backup/backup.sh</string> 
	<key>WorkingDirectory</key>  <string>/Users/yaccai/iconfig/launch/backup</string>
    <key>StandardErrorPath</key> <string>backup.log</string>
    <key>StandardOutPath</key>   <string>backup.log</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>      <integer>5</integer>
            <key>Minute</key>    <integer>00</integer>
        </dict>
    </array>
</dict>
</plist>
