<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>             <string>yaccai.torclean</string>
    <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/python3</string>
            <string>/Users/yaccai/iconfig/launch/torrent/torclean.py</string>
            <string>remove</string>
        </array>
    <key>WorkingDirectory</key>  <string>/Users/yaccai/iconfig/launch/torrent</string>
    <key>StandardErrorPath</key> <string>torclean.log</string>
    <key>StandardOutPath</key>   <string>torclean.log</string>
    <key>StartInterval</key>     <integer>600</integer>
</dict>
</plist>
