<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>             <string>yaccai.clean</string>
    <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/zsh</string>
            <string>/Users/yaccai/iconfig/launch/clean/clean.sh</string>
        </array>       
	<key>WorkingDirectory</key>  <string>/Users/yaccai/iconfig/launch/clean</string>
    <key>StandardErrorPath</key> <string>clean.log</string>
    <key>StandardOutPath</key>   <string>clean.log</string>

    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>      <integer>4</integer>
            <key>Minute</key>    <integer>45</integer>
        </dict>
    </array>
</dict>
</plist>
